@page "/Testtest"
@using Microsoft.AspNetCore.Components.Authorization
@using MovieReviewer.Shared.Dto.Output
@using MovieReviewer.Shared.Service

<AuthorizeView>
    <Authorized>
        <p>ImporiumGuy was work here</p>
    </Authorized>
    <NotAuthorized>
        Fool
    </NotAuthorized>
</AuthorizeView>

@code {
}
